python==3.9.1
Flask==2.0.2
regex==2021.11.10
pandas==1.3.4
numpy==1.21.4
nltk==3.6.5
sklearn==0.0
tf-nightly==2.8.0.dev20211130
tensorflow-gpu==2.7.0
tensorflow-hub==0.12.0
matplotlib==3.5.0
lxml==4.6.4
h5py==3.6.0
beautifulsoup4==4.10.0
